<section class="hero">
  <div class="hero-content">
    <h1 class="fade-up">ProPower Cambodia</h1>
    <h2 class="fade-up">ដំណោះស្រាយគ្រឿងអគ្គិសនីដ៏មានទំនុកចិត្តរបស់អ្នក</h2>
    <br />
    <p class="fade-up delay-1">
      ស្វាគមន៍មកកាន់ ProPower Cambodia! យើងគឺជាអ្នកជំនាញចែកចាយ
      និងផ្គត់ផ្គង់ឧបករណ៍អគ្គិសនីគ្រប់ប្រភេទ ដែលមានគុណភាពខ្ពស់
      និងសុវត្ថិភាពបំផុតនៅក្នុងប្រទេសកម្ពុជា។
    </p>

    <div class="service-container fade-up delay-1">
      <div class="service-item">
        <i class="fa-solid fa-award"></i>
        <h2>គុណភាពស្តង់ដារ</h2>
      </div>
      <div class="service-item">
        <i class="fa-solid fa-shield-halved"></i>
        <h2>សុវត្ថិភាពជាចម្បង</h2>
      </div>
      <div class="service-item">
        <i class="fa-solid fa-tags"></i>
        <h2>តម្លៃសមរម្យ</h2>
      </div>
      <div class="service-item">
        <i class="fa-solid fa-bolt"></i>
        <h2>សេវាកម្មរហ័ស</h2>
      </div>
      <div class="service-item">
        <i class="fa-solid fa-handshake"></i>
        <h2>ទំនុកចិត្តខ្ពស់</h2>
      </div>
    </div>

    <br />
    <div class="hero-buttons fade-up delay-2">
      <button class="btn-primary">Explore Services</button>
      <a href="/contact">
        <button class="btn-outline">Contact Us</button>
      </a>
    </div>
  </div>
</section>

<section class="blog-section">
  <div class="container">
    <div class="section-header fade-up">
      <span class="subname">{{ blogData.header.tagline }}</span>
      <h2>{{ blogData.header.name }}</h2>
      <p>{{ blogData.header.desc }}</p>
    </div>

    <div class="blog-grid">
      <article class="blog-card fade-up delay-1" *ngFor="let post of blogData.articles">
        <div class="blog-img">
          <img [src]="post.img" [alt]="post.name" />
          <span class="category">{{ post.category }}</span>
        </div>
        <div class="blog-info">
          <span class="date">{{ post.date }}</span>
          <h3>{{ post.name }}</h3>

          <p [class.show-all]="expandedCards[post.id]">
            {{ expandedCards[post.id] ? post.fullDesc : post.shortDesc }}
          </p>

          <a href="javascript:void(0)" class="read-more" (click)="toggleReadMore(post.id)">
            {{ expandedCards[post.id] ? 'Show Less' : 'Read More' }}
            <i
              class="fa-solid"
              [ngClass]="expandedCards[post.id] ? 'fa-angles-up' : 'fa-arrow-right'"
            ></i>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
