body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #fff; /* optional: default background */
}
body {
  margin: 0;
  padding: 0;

  overflow-x: hidden; /* ការពារកុំឱ្យមាន Scrollbar ទៅឆ្វេងស្តាំ */
}
/* លាក់ Scrollbar លើ Body */
body::-webkit-scrollbar {
  display: none;
}

/* Optional: remove list bullets from ul */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Optional: remove link underline globally */
a {
  text-decoration: none;
  color: inherit;
}
