*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background: #fff;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}

img,
video,
canvas,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  p,
  h1,
  h2,
  h3,
  span {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large Devices (Desktop) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
